*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
a{
	text-decoration: none;
}
.bd_red{
	background: #b7002e;
}
.wrapper{
	width: 1320px;
	height: 135px;
	background: #b7002e;
	margin: 0 auto;
}
.menu{
	width: 1320px;
	height: 135px;
	display: flex;
	margin: 0 auto;
	border-bottom: 4px solid #cb334b; 
}
.menu div{
	flex:1;
}
.m1{
	padding: 20px;
	max-width: 220px;  
}
.m2{
  max-width: 630px;
  padding-top:50px;
  text-align: center;
}
.m2 a{
	padding: 20px; 
	color:#fff;
}

.m3{
   padding:35px 10px 15px 5px;
   max-width: 240px;
   text-align:center;
}
.m4{
   padding:35px 10px 15px 5px;
   max-width: 220px;
   text-align:center;
}
.m4 button{
	padding: 15px;
	color:#ebefe1;
	background-color: #8ca93e;
	border: 2px solid #8ca93e;
	border-radius: 30px;
}
.m4 button:active{
	background-color: #718b2c;
	border: 2px solid #718b2c;
}
.m2 a:active{
	border-bottom: 2px solid #ffae00;
	padding: 5px 20px; 
}
.menu1{
	max-width: 1320px;
	height: 745px;
	background: #b7002e;
	margin: 0 auto;
}
.menu1 td{
   padding:35px 0px 150px 70px;
   text-align: center;
}
.menu1 td a{
	color:#f7afba;
}
.menu1 td a:hover{
	color:#fff;
}

.logo{
	text-align:center;
}
.bg_white{
	background: #fff;
	max-width: 100%;
	max-height: 1445px;
}
.menu2{
	width: 1320px;
	height: 1445px;
	margin: 0 auto;
}
.vvv{
	 padding:60px 30px 86px 75px;
}
.vvv1{
	 padding:0px 20px 0px 0px;
}
.Set{
   text-align: center;
   padding: 5px;
   font-size: 15px;
   border-bottom: 2px solid #e9e9e9;  
}
.Set a {
	font-size: 30px;
	color: #9b959b;
}
.Set1 {
  padding:0px 30px 5px 0px;
}
.Set2 {
    color:#000;
    font-weight:bold;
    border-bottom: 4px solid #f0002f;
    padding:0px 0px 4px 0px;
}
.Set2 a {
	font-size: 30px;
    color:#000;
}
.Set3 {
  padding:0px 0px 5px 30px;
}
.block{
  padding:35px 50px 5px 90px;
}
.block2{
  padding:0px 0px 0px 25px;
}
.block h1{
	display: inline-block;	
	padding:20px 130px;
}
.block2 h1{
	display: inline-block;	
	padding:20px 145px;
}
.block3 h1{
	display: inline-block;	
	padding:20px 130px;
}
.block p{
	display: inline-block;
	font-family: 'Courgette', cursive;	
	text-align: center;
	padding:0px 20px 25px 20px;
}
.block3 p{
	display: inline-block;	
	text-align: center;
	padding:0px 20px 25px 40px;
}
.block1 h3{
	text-align: center;
	overflow: hidden;
	padding:0px 0px 30px 0px;
}
.block1 h3:before,
.block1 h3:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  border: 2px solid #fff;
  border-width: 0 10px;
}
.block1 h3:before {
  margin-left: -100%;
}
.block1 h3:after {
  margin-right: -100%;
}

.block2 h3{
	padding:0px 0px 30px 155px;
	overflow: hidden;
}
.block2 h3:before,
.block2 h3:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  border: 1px solid #fff;
  border-width: 0 8px;
}
.block2 h3:before {
  margin-left: -100%;
}
.block2 h3:after {
  margin-right: -100%;
}
.block3 h3{
	padding:0px 0px 30px 145px;
	overflow: hidden;
}
.block3 h3:before,
.block3 h3:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  border: 1px solid #fff;
  border-width: 0 8px;
}
.block3 h3:before {
  margin-left: -100%;
}
.block3 h3:after {
  margin-right: -100%;
}

.block button{
	padding:10px;
	margin:0px 0px 0px 50px; 
	background: #fff;
	color:#2b2929;
	border-radius: 75px;
	border: 2px solid #f9f1db;
	font-size: 14px;
	line-height: 0.7;
}

.block sup {
	margin:0px 0px 0px 10px; 
}
.block button:active{
background: #ffcd00;
}

